<div class="my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Contact</h1>
      <p class="col-lg-8 mx-auto lead">
        Hey, thanks for stopping by. We're not really into the whole contact thing, but if you absolutely
        have to reach us (for some mysterious reason), then you have a problem hehe. Yell really loudly,
        maybe we will hear you. No guarantees on a swift response – we might be busy doing... well, who knows.
        Anyway, shoot your shot, and we'll see what happens.
      </p>
    </div>
  </div>
</div>