<div class="my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h3 class="text-body-emphasis">Legal Mumbo Jumbo (Because We Have To)</h3>
      <p class="col-lg-8 mx-auto lead">
        Look, we get it – legal stuff is about as exciting as watching paint dry. But here it is,
        the necessary legalese. By using this site, you're agreeing to... well, something. We're not really
        lawyers, and we're not keen on diving into legal battles. So, if you've got some issue, maybe consider
        flipping a coin instead of contacting us. We're just here to keep things simple. Read at your own risk,
        and don't expect us to become legal eagles anytime soon.
      </p>
    </div>
  </div>
</div>
