<div id="post-comments-<%= post.id %>">
    <% if comments.any? %>
      <% comments.each do |com| %>
        <%= render partial: 'comments/comment', locals: { comment: com, author: com.user } %>
      <% end %>
    <% else %>
      <div class="justify-content-center">
        <br />
        <h1> No comments here! </h1>
      </div>
    <% end %>

</div>
