<%= turbo_frame_tag'turbo-comments', target: "_top" do %>
  <div class="modal-body">
    <%== pagy_bootstrap_nav @pagy_comments, link_extra: 'data-turbo-frame="_self"' %>
    <div id="post-comments-<%= @post.id %>">
      <% if @comments.any? %>
        <%= render partial: 'comments/comments', locals: { post: @post, comments: @comments } %>
      <% else %>
        <div class="justify-content-center">
          <br />
          <h1> No comments here! </h1>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
