<%= link_to profile_path(user), class: "list-group-item list-group-item-action d-flex gap-3 py-2" do %>
  <% if user.avatar.representable? %>
    <div>
      <%= image_tag user.avatar.representation(resize_to_limit: [50, 50]), class: "rounded-circle flex-shrink-0" %>
    </div>
  <% else %>
    <svg class="bd-placeholder-img rounded-circle" width="70" height="70" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
  <% end %>
  <div class="d-flex gap-2 w-100 justify-content-between">
    <div>
      <h6 class="mb-0"><%= user.full_name %>
      </h6>
      <p class="mb-0 opacity-75">
        <% # chat message placeholder %>
      </p>
    </div>
    <small class="opacity-50 text-nowrap">3d</small>
  </div>
<% end %>
