<div id="user-list" class="px-lg-5 container">
  <%= turbo_frame_tag 'turbo-users' do %>
    <div id="user-pagination" class="col-lg-6 col-md-8 mx-auto text-center">
      <%== pagy_bootstrap_nav @pagy_users %>
    </div>
    <div class="px-lg-5 py-lg-5 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
      <% users.each do |user| %>
        <%= render partial: 'users/medium', locals: { user: user } %>
      <% end %>
    </div>
  <% end %>
</div>