
<%= render partial: 'users/big', locals: { user: current_user } %>
<div class="text-center">
  <% if current_user.description.empty? %>
    <div class="text-center">
      <p class="mb-3 fw-normal">Your profile seems empty, do something about it! </p>
    </div>
  <% end %>
  <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-primary my-2" %>
</div>

<hr class="featurette-divider">

<%= render partial: 'stories/stories', locals: { author: current_user } %>

<hr class="featurette-divider">

<%= render partial: 'posts/posts', locals: { author: current_user } %>

<hr class="featurette-divider">
