<%= link_to direct_chat_path(id: chat.id), data: { turbo_method: 'post' }, class: 'list-group-item list-group-item-action py-3 lh-sm' do %>
  <div class="d-flex w-100 align-items-center justify-content-between">
    <strong class="mb-1"><%= "Chat with #{(chat.users.to_a-[current_user]).first.full_name}" %></strong>
    <small class="text-body-secondary">Mon</small>
  </div>
  <div class="col-10 mb-1 small">
    <% if chat.messages.any? %>
      <%= chat.messages.last %>
    <% else %>
      Send your first message!
    <% end %>
  </div>
<% end %>
