<div id="side-panel" class="float-start col-md-12 col-lg-2" style="height:300px; overflow-y: scroll">
  <div class="list-group">
    <% current_user.contacts.each do |contact| %>
      <%= render 'users/small', user: contact.acquaintance %>
    <% end %>
  </div>
</div>
