<div id="story-list" class="container">
  <% post_id ||= nil %>
  <%= turbo_frame_tag 'turbo-stories',src: display_stories_path(user_id: author.id, post_id: post_id), loading: 'lazy', target: '_top' %>
</div>
