<div class="container">
  <%= turbo_frame_tag(:timeline_posts_container, class: "timeline", target: "_top") do %>
      <%= turbo_frame_tag([:posts, 1], class: "turbo-timeline timeline", target:"_top",
                          src: stories_timeline_path(story_id: @story.id))  do %>
        <!-- Skeleton Loading Indicator -->
      <li>
        <div class="timeline-body post-buttons-parent">
          <div class="timeline-content">
            <h1 class="lead text-body-secondary">Posts loading...</h1>
          </div>
        </div>
      </li>
      <% end %>
  <% end %>
</div>

