
<div class="container my-5">
  <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
    <h1 class="text-body-emphasis">Discover New Stories!</h1>
    <p class="py-lg-4 col-lg-6 mx-auto mb-4">
      Embark on a captivating journey through a myriad of human experiences as we invite you to explore our curated collection of personal stories.
      Each narrative is a unique tapestry, woven with threads of joy, triumph, resilience, and discovery.
      From heartfelt moments that resonate universally to tales of individual triumphs,
      our collection captures the diverse spectrum of the human experience.
      Immerse yourself in the stories of others—peel back the layers of life, connect with shared emotions,
      and find inspiration in the extraordinary narratives that unfold within the pages of these personal accounts.
    </p>
    <h5>Join us in celebrating the rich mosaic of humanity, one story at a time.</h5>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
    <% @stories.each do |story| %>
      <%= render partial: 'stories/story', locals: { author: story.user, story: story } %>
    <% end %>
  </div>
</div>
