<h2 class="text-center">New Story</h2>

<%= form_with model: @story do |f| %>

  <div class="mb-3">
    <%= f.text_field :title, value: @story.title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.text_area :description, value: @story.description, class: "form-control" %>
  </div>

  <div class="actions col-auto text-center">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>