<%= turbo_frame_tag([:posts, @pagy_posts.page]) do %>
  <% @posts.each do |post| %>
    <%= render partial: 'posts/timeline_post', locals: { post: post } %>
  <% end %>
  <%= turbo_stream.append :timeline_posts_container do %>
    <% if @pagy_posts.next.present? %>
      <%= turbo_frame_tag [:posts, @pagy_posts.page + 1], class: 'turbo-timeline timeline',
                          src: stories_timeline_path(story_id: @story.id, page: @pagy_posts.next), loading: "lazy" %>
    <% else %>
      <li>
        <div class="timeline-body post-buttons-parent">
          <div class="timeline-content">
            <% if @posts.empty? %>
              <h1 class="fw-light">No posts yet, stay tuned!</h1>
            <% else %>
              <h1 class="fw-light">You've reached the end of the story!</h1>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
<% end %>
