<div class="post-buttons-container justify-content-between align-items-center"
     style="position: absolute; width: 100%">
  <div class="btn-group">
    <%= link_to "View post", post_path(post.id), class:"btn btn-sm btn-primary" %>
  </div>
  <% if current_user == post.user %>
    <div class="btn-group">
      <%= link_to "Edit", edit_post_path(post.id), class: "btn btn-sm btn-secondary" %>
      <%= link_to "Delete", post_path(post.id), method: :delete, class: "btn btn-sm btn-secondary" %>
    </div>
  <% end %>
</div>