<div class="col">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text"><%= body %></p>
      <% if author != current_user %>
        <%= link_to author.email, root_path %>
      <% end %>
    </div>
  </div>
</div>