<div class="col">
  <div class="card" style="width: 18rem;">
    <% if post.picture.representable? %>
      <%= image_tag post.picture.representation(resize_to_fill: [286, 120]), style: "height: 180px" %>
    <% end %>

    <div class="card-body">
      <p class="card-text"><%= post.body %></p>
      <% if author != current_user %>
        <%= link_to author.full_name, profile_path(author) %>
      <% end %>
    </div>
    <% post.comments.each do |com| %>
      <%= render partial: 'comments/comment', locals: { comment: com, author: com.user } %>
    <% end %>

  </div>
</div>