<div class="container">
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
    <% posts.each do |post| %>
      <%= render partial: 'posts/post', locals: { author: author, body: post.body } %>
    <% end %>
  </div>
</div>
