<div id="post-list" class="container">
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
    <% posts.each do |post| %>
      <%= render partial: 'posts/post', locals: { author: author, post: post } %>
    <% end %>
  </div>
</div>

<div id="post-pagination" class="py-lg-5 col-lg-6 col-md-8 mx-auto text-center">
  <%= paginate posts, params: { controller: :posts, action: :index, user_id: author.id }, window: 2, remote: true %>
</div>