<%= turbo_frame_tag([:posts, @page]) do %>
  <!-- Loop through each comment and render it on the page -->
  <% @posts.each do |post| %>
    <%= render partial: 'posts/timeline_post', locals: { post: post } %>
  <% end %>
  <%= turbo_stream.append :timeline_posts_container do %>
    <!-- Check if there are more pages to load -->
    <% if @page < @total_pages %>
      <!-- Set up the next frame to load when it comes into view -->
      <%= turbo_frame_tag([:posts, @page + 1], class: "turbo-timeline timeline", target:"_top",
                          src: posts_path(story_id: @story.id, page: @page + 1, page_size: 1), loading: :lazy) do %>
        <!-- Skeleton Loading Indicator -->
        <li>
          <div class="timeline-body post-buttons-parent">
            <div class="timeline-content">
              <h1 class="lead text-body-secondary">Posts loading...</h1>
            </div>
          </div>
        </li>
      <% end %>
    <% else %>
      <li>
        <div class="timeline-body post-buttons-parent">
          <div class="timeline-content">
            <% if @page == 1 && @posts.empty? %>
              <h1 class="fw-light">No posts yet, stay tuned!</h1>
            <% else %>
              <h1 class="fw-light">You've reached the end of the story!</h1>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
<% end %>