<section class="text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <% if current_user.avatar.representable? %>
        <%= image_tag current_user.avatar.representation(resize_to_limit: [200, 200]), class: "avatar" %>
      <% else %>
        <h2>
          SERgSERGsergserg2
        </h2>
      <% end %>
      <h1 class="fw-light"><%= current_user.email %></h1>
      <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Button for later</a>
        <a href="#" class="btn btn-secondary my-2">Second button for later</a>
      </p>
    </div>
  </div>
</section>

<%= link_to "new posts", new_post_path %>

<%= render partial: 'posts/posts', locals: { author: current_user, posts: @posts } %>